HW0/src/hw0.aux
HW0/src/hw0.fdb_latexmk
HW0/src/hw0.fls
HW0/src/hw0.log
HW0/src/hw0.synctex.gz
HW1/src/hw1.aux
HW1/src/hw1.fdb_latexmk
HW1/src/hw1.fls
HW1/src/hw1.log
HW1/src/hw1.synctex.gz
HW2/src/hw2.aux
HW2/src/hw2.fdb_latexmk
HW2/src/hw2.fls
HW2/src/hw2.log
HW2/src/hw2.synctex.gz
