HW0/src/main.fdb_latexmk
HW0/src/main.fls
HW0/src/main.log
HW0/src/main.aux
HW0/src/main.out
HW0/src/main.synctex.gz
HW1/src/main.aux
HW1/src/main.fdb_latexmk
HW1/src/main.fls
HW1/src/main.log
HW1/src/main.synctex.gz
HW1/src/pdflatex16544.fls
HW1/src/pdflatex15302.fls
